/* Estilos para la sección de proyectos */
.seccion__proyectos {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leyenda__projects{
	font-size: 3em;
	font-weight: 700;
	
}

.seccion__proyectos .contend__titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seccion__proyectos .contend__titulo .titulo {
  font-size: 1.5em;
  font-weight: 300;
  padding: 20px 0px 0px 0px;
}

.seccion__proyectos .contend__cards-proyectos {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 50px 0px 50px 0px;
  gap: 15px;
}

/* //////////////////////////////////////////////////////////////////
/////////////////////// PROJECTS CARD ///////////////////////////
////////////////////////////////////////////////////////////////// */

.wrapper__card {
  width: 350px;
  border: solid .24em #a5a5a5;
  margin: 0px 10px;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: rgba(231, 231, 231, 0.712);
  -webkit-box-shadow: 4px 6px 19px 2px rgba(196, 191, 196, 0.41);
  -moz-box-shadow: 4px 6px 19px 2px rgba(196, 191, 196, 0.41);
  box-shadow: 4px 6px 19px 2px rgba(196, 191, 196, 0.41);
  border-radius: 0.7em;
  transition:transform 200ms ease-in-out ;
}

.wrapper__card:hover{
 transform: scale(1.05);
   -webkit-box-shadow: 4px 6px 19px 2px rgba(125, 125, 125, 0.41);
  -moz-box-shadow: 4px 6px 19px 2px rgba(125, 125, 125, 0.41);
  box-shadow: 4px 6px 19px 2px rgba(125, 125, 125, 0.41);
}
/* //////////////////////////////////////////////////////////////////
/////////////////////// PROJECTS IMAGE /////////////////////////////
////////////////////////////////////////////////////////////////// */

.wrapper__img{
	display: flex;
	width: 100%;
	height: 150px;
}

.contend__card--img {
  width: 100%;
  margin: 10px 10px;
}

.contend__card--img img {
  object-fit: cover;
  border-radius: 0.4em;
  width: 100%;
  height: 100%;
}
/* //////////////////////////////////////////////////////////////////
/////////////////////// PROJECTS DESCRIPTION ////////////////////////
////////////////////////////////////////////////////////////////// */

.card__description {
  padding: 10px;
  display: flex;
  width: 100%;
}

.card__description p {
  text-align: start;
  display: flex;
  width: 100%;
  color: #8c8c8c;
  justify-content: center;
}

/* //////////////////////////////////////////////////////////////////
/////////////////////// PROJECTS NAME ///////////////////////////
////////////////////////////////////////////////////////////////// */
.wrapper__name {
	background: #ffffff;
  padding: 20px 10px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.card__project--name {
  display: flex;
  flex: 1;
  width: 100%;
  /* padding: 10px 20px; */
}

.name__project {
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  color: #000000;
}

.name__project:hover {
  color: #35b367;
}

/* //////////////////////////////////////////////////////////////////
/////////////////////// PROJECTS STACK ///////////////////////////
////////////////////////////////////////////////////////////////// */

.card__project__stack {
  width: 100%;
  display: flex;
}

.stack__icon {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px 20px;
}

.stack__icon img {
  width: 1.7em;
  margin: 0px 10px;
  transition: transform 200ms ease;
}

.stack__icon img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .seccion__proyectos{
    width: 100%;
    display: flex;
  }
  .seccion__proyectos .contend__cards-proyectos {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}
}