/* Estilos base */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

/* Estilos para las imágenes */
img {
	max-width: 80%;
	height: auto;
}

/* Estilos para la sección de proyectos */
.seccion__proyectos {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px; /* Ajusta este valor según tu preferencia */
}

.seccion__proyectos .contend__titulo {
	width: 100%;
	display: flex;
	justify-content: center;
}

.seccion__proyectos .contend__titulo .titulo {
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 300;
	padding: 20px 0px 0px 0px;
}

.seccion__proyectos .contend__cards-proyectos {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px; /* Ajusta este valor según tu preferencia */
	padding-top: 30px; /* Ajusta este valor según tu preferencia */
	justify-items: center;
}

.seccion__proyectos .contend__cards-proyectos .card {
	cursor: pointer;
	position: relative;
	flex-direction: column;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); /* Ajusta este valor según tu preferencia */
	width: 100%;
	max-width: 350px; /* Ajusta este valor según tu preferencia */
	border-radius: 15px;
	border: solid white 2px;
	overflow: hidden;
}

.seccion__proyectos .contend__cards-proyectos .card .contend__img {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.seccion__proyectos .contend__cards-proyectos .card .contend__img img {
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.seccion__proyectos .contend__cards-proyectos .card .contenido {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(10px);
	transition: bottom 300ms ease;
	background-color: rgba(0, 0, 0, 0.13);
}

/* Estilos para el hover de las tarjetas */
.seccion__proyectos .contend__cards-proyectos .card:hover .contenido {
	bottom: 0;
  }
  

.seccion__proyectos .contend__cards-proyectos .card .contenido a {
	text-decoration: none;
	font-size: 1.3em;
	color: #ffff;
	transition: color 300ms;
}

.seccion__proyectos .contend__cards-proyectos .card .contenido a:hover {
	color: #6ede8aff;

}

.icon {
	display: flex;
	justify-content: center;
	padding: 10px 0px 0px 0px;
}

.icon img {
	margin: 0px 5px;
	transition: transform 300ms ease;
	max-width: 30px; /* Ajusta este valor según tu preferencia */
	height: auto;
}

.icon img:hover {
	transform: scale(1.5);
}

/* Media Queries */

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
	.seccion__proyectos .contend__cards-proyectos {
		justify-content: center; /* Centra la cuadrícula */
	}
	.seccion__proyectos .contend__cards-proyectos .card {
		max-width: 300px; /* Ajusta este valor según tu preferencia */
	}
}

/* Estilos para pantallas muy pequeñas (por ejemplo, teléfonos) */
@media screen and (max-width: 480px) {
	.seccion__proyectos .contend__cards-proyectos .card {
		max-width: 100%; /* Ocupará todo el ancho disponible */
	}
}
