.contenido__principal {
  display: flex;
  padding-top: 120px;
}

.redes__sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  flex-direction: column;
}

.list__iconos {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.icono {
  width: 35px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icono:hover {
  transform: scale(1.4);
}

.contenedor__bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.bienvenida__titulo {
  display: flex;
  font-size: 2.5em;
  width: 100%;
  margin: .2em 0em;
  justify-content: center;
  align-items: center;
}

.bienvenida__titulo .name__welcome {
  letter-spacing: 7px;
  margin: 0;
}

.leyenda {
  color: #818181;
  font-size: 18px;
}

.bienvenida__texto {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto {
  display: flex;
  width: 20rem;
  text-align: start;
  line-height: 20px;
  color: #777575;
}

.boton__contactar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: #94f894;
  border-radius: .7em;
  border: none;
  padding: 20px 35px;
  margin: 25px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}

.boton::after {
  content: "";
  position: absolute;
  background-color: #6bea6b;
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.boton:hover {
  box-shadow: 0px 3px 15px 0px #55a655;
  background-color: #3e903e;
}

.boton:hover::after {
  transform: scale(700);
  bottom: 0;
}

.boton span {
  position: relative;
  z-index: 2;
}

.boton a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.contenedor__foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: foto;
  cursor: pointer;
}

.foto {
  width: 380px;
  object-fit: cover;
  transition: transform 0.5s ease-out;
}

@media screen and (max-width: 768px) {
}
