.projectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  font-weight: 700;
}

.projectContend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  display: flex;
  align-items: center;
  color: rgb(61, 61, 61);
}

.status {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(127, 233, 86);
}

.cardProject {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  padding: 20px 0px;
  background-color: rgb(223, 255, 202);
  margin: 20px 0px;
  border-radius: 0.5em;
}

/*------------------ button --------------- */

.buttonBoxEdit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBoxDelete {
}

.buttonEdit {
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(56, 255, 156);
  letter-spacing: 1.5px;
  font-size: 10px;
  transition: box-shadow 300ms ease;
  box-shadow: rgb(36, 162, 99) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.buttonEdit:hover {
  box-shadow: rgb(36, 162, 99) 0px 7px 0px 0px;
}

.buttonEdit:active {
  background-color: rgb(54, 255, 57);
  /*50, 168, 80*/
  box-shadow: rgb(36, 167, 38) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.buttonDelete {
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 10px;
  transition: box-shadow 300ms ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.buttonDelete:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.buttonDelete:active {
  background-color: rgb(205, 24, 51);
  /*50, 168, 80*/
  box-shadow: rgb(197, 6, 35) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
