/* Estilos generales */

.navegador {
  width: 100%;
  height: 50px;
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff4c;
  backdrop-filter: blur(5px);
  align-items: center;
}

.active-dark {
  background-color: transparent;
}

.active-dark .menu .lista .enlaces {
  color: #ffffff;
}

/* Estilos del menú */
.menu {
  width: 100%;
  display: flex;
  flex: 1;
  margin-right: 30px;
  justify-content: flex-end;
  list-style: none;
}

.icon__nav {
  padding: 0 25px;
  display: flex;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}

.lista {
  display: block;
  position: relative;
}

.enlaces {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 300ms ease;
}

.enlaces::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #94f894;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.enlaces:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.Responsive__menu {
  display: none;
  opacity: 1;
}

.menu__responsive {
  transition: transform 300ms ease;
}

.close__responsive {
  display: none;
}

@media screen and (max-width: 768px) {
  .navegador {
    position: fixed;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 200;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -150%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: right 300ms ease;
  }

  .menu__active {
    right: -10%;
    height: 100vh;
  }

  .enlaces {
    color: #000;
    padding: 20px 0;
    font-size: 1.5em;
  }

  .Responsive__menu {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    z-index: 2;
  }

  .menu__responsive.active {
    opacity: 0;
    transform: rotate(360deg);
  }

  .close__responsive {
    cursor: pointer;
    display: flex;
    opacity: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 300ms ease;
  }

  .active__close {
    transform: rotate(180deg);
  }
}
